body {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(74,119,167);
background: linear-gradient(90deg, rgba(74,119,167,1) 0%, rgba(71,116,166,1) 46%, rgba(68,111,161,1) 100%);
}

nav {
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-between;
    display:flex;
    height:8vh;
    width:100%;
}

.nav__logo {
    font-size: 22px;
    text-decoration: none; 
    color:#e4eaee;
    font-family: 'Roboto', sans-serif;
    transition: 0.15s ease-in;
}

.nav__logo:hover {
    color:#6a98b9;
}

.nav__span {
    color:#6a98b9;
    font-weight: bold;
    position:relative;
    top:6.34px;
}

.nav__list {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    display:flex;
    gap:25px;
}

.nav__list--links {
    text-decoration: none;
    color:#e4eaee;
    transition: 0.15s ease-in-out;
}

.nav__list--links:hover {
    color:#6a98b9;
}

#section1 {
    background: url('imagens/imagem1.jpg');
    background-position-y: -100px;
    background-size: cover;
    height: 92vh;
    width:100%;
    position: relative;
}

.title {
    position: relative;
    top: 75px;
    width: 500px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:200;
    font-size: 50px;
    color: white;
}

p {
    line-height: 30px;
    margin-top: 15px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 100;
}

/* CARDS */

.cards {
    margin-top: 160px;
    display: flex;
    gap: 40px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
/* CARD 1 */
.card1 {
    width:400px;
    height:450px;
}

.card1__div {
    position: relative;
    top:10px;
    line-height: 30px;
    margin-bottom: 10px;
}

.card1__div--h2 {
    font-weight: 100;
    font-size: 20px;

}

.card1__div--h3 {
    font-weight: 100;
    font-size: 20px;

}

.card1__p {
    color: black;
}

.card1__price {
    color:gray;
    font-size: 27px;
}

button {
    border:none;
}

.button {
    position: relative;
    top:20px;
    display: inline-block;
    text-decoration: none;
    padding: 20px 50px;
    text-transform: uppercase;
    border: 3px solid #ff5e00;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.15s ease;
    background: #ff5e00;
    color: #fff;
    font-size: 19px;
    font-weight: bolder;
    width: 265px;
    height:60px;
}

.button:hover {
    background-color: #ffffff;
    animation: pulsate 1s ease-in-out;
    border-color: #ff5e00;
    color: #ff5e00;
}

@keyframes pulsate {
    0% {
        box-shadow: 
        0 0 25px #ff5e00,
        0 0 50px #ffa46f;
    }
}

/* CARD 2 */
.card2 {
    width:400px;
    height:450px;
}

.card2__div {
    position: relative;
    top:10px;
    line-height: 30px;
    margin-bottom: 10px;
}

.card2__div--h2 {
    font-weight: 100;
    font-size: 20px;

}

.card2__div--h3 {
    font-weight: 100;
    font-size: 20px;

}

.card2__p {
    color: black;
}

.card2__price {
    color:gray;
    font-size: 27px;
}

/* CARD 3 */
.card3 {
    width:400px;
    height:450px;
}

.card3__div {
    position: relative;
    top:10px;
    line-height: 30px;
    margin-bottom: 10px;
}

.card3__div--h2 {
    font-weight: 100;
    font-size: 20px;

}

.card3__div--h3 {
    font-weight: 100;
    font-size: 20px;

}

.card3__p {
    color: black;
}

.card3__price {
    color:gray;
    font-size: 27px;
}


footer {
    background-color: #161616;
    color: white;
    width:100%;
    height:50px;
    position: relative;
    bottom:-20vh;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.footer__div {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    width:150px;
}

.footer__logo {
    font-size: 22px;
    text-decoration: none; 
    color:#e4eaee;
    font-family: 'Roboto', sans-serif;
    transition: 0.15s ease-in;
}

.footer__logo:hover {
    color:#6a98b9;
}

.footer__span {
    color:#6a98b9;
    font-weight: bold;
    position:relative;
    top:6.34px;
}

.span__card {
    color: #ff5e00;
}