body {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(74,119,167);
background: linear-gradient(90deg, rgba(74,119,167,1) 0%, rgba(71,116,166,1) 46%, rgba(68,111,161,1) 100%);
}

nav {
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-between;
    display:flex;
    height:8vh;
    width:100%;
}

.nav__logo {
    font-size: 22px;
    text-decoration: none; 
    color:#e4eaee;
    font-family: 'Roboto', sans-serif;
    transition: 0.15s ease-in;
}

.nav__logo:hover {
    color:#6a98b9;
}

.nav__span {
    color:#6a98b9;
    font-weight: bold;
    position:relative;
    top:6.34px;
}

.nav__list {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    display:flex;
    gap:25px;
}

.nav__list--links {
    text-decoration: none;
    color:#e4eaee;
    transition: 0.15s ease-in-out;
}

.nav__list--links:hover {
    color:#6a98b9;
}

#section1 {
    background: url('imagens/imagem1.jpg');
    background-position-y: -100px;
    background-size: cover;
    height: 92vh;
    width:100%;
    position: relative;
}

#section1 {
    height:92vh;
    width:100%;
    position: relative;
}

.section1__div1 {
    display:block;
    margin:0 auto;
    position: relative;
    top:15px;
    right:20em;
    border: #FFFFFF solid 2px;
    width: 530px;
    height:350px;
    padding:10px;
    overflow: hidden;
}

.lines {
    position: relative;
    top:-355px;
    left:200px;
}

.section1__div--title {
    font-weight: 100;
    color: #FFFFFF;
    font-size: 62.6px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    line-height: 115px;
}

#section2 {
    height:101.5vh;
    width:100%;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.section2__div--image {
    background: url('imagens/imagem2.webp');
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    width:680px;
    height:453px;
    display:block;
    margin:0 auto;
    position:relative;
    top:100px;
    right:100px;
    z-index: 0;
}

.section2__div--text {
    width:450px;
    height:450px;
    padding:50px;
    background-color: white;
    display: block;
    margin: 0 auto;
    position: relative;
    left:170px;
    top:-150px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    z-index: 1;
}

h2 {
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}

p {
    width: 350px;
    line-height: 24px;
    font-size: 20px;
}

footer {
    background-color: #7C4EF5;
    color: white;
    width:100%;
    height:50px;
    position: relative;
    bottom:-10vh;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.footer__div {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    width:150px;
}

.footer__logo {
    font-size: 22px;
    text-decoration: none; 
    color:#e4eaee;
    font-family: 'Roboto', sans-serif;
    transition: 0.15s ease-in;
}

.footer__logo:hover {
    color:#6a98b9;
}

.footer__span {
    color:#6a98b9;
    font-weight: bold;
    position:relative;
    top:6.34px;
}
